In [1]:
import selenium
from selenium.webdriver import Firefox, Chrome
import time
import psycopg2
import pandas as pd
from psycopg2.extras import Json
import re

In [2]:
cd /Users/brettashley/galvanize/dsi/00-Capstone/ml-mix-lab/mixmaker/

/Users/brettashley/galvanize/dsi/00-Capstone/ml-mix-lab/mixmaker

In [27]:
from scraper import Scraper
import database_interaction
# import DataBaseInteraction

In [4]:
conn = psycopg2.connect(dbname='mixmaker', host='localhost')
cur = conn.cursor()

In [53]:
sel = "div#content div.divided-layout div.layout-container.leftContent div"
url = 'https://www.whosampled.com/genre/Soul-Funk-Disco/'
desired_section = 'Most influential artists'

In [ ]:
# s = Scraper('https://www.whosampled.com/genre/Soul-Funk-Disco/')

In [ ]:
# artist_section = s.find_desired_section(sel, desired_section)

In [ ]:
# artist_urls = list(s.get_artist_urls(artist_section))

In [ ]:
# test['url'] = u'https://www.whosampled.com/The-J.B.%27s/'

In [ ]:
# artist_urls[9]['name']

In [ ]:
artist_urls = [{'name': 'James Brown', 'url': 'https://www.whosampled.com/James-Brown/'},
 {'name': 'Traditional Folk',
  'url': 'https://www.whosampled.com/Traditional-Folk/'},
 {'name': 'Kool & the Gang',
  'url': 'https://www.whosampled.com/Kool-%26-the-Gang/'},
 {'name': 'Funkadelic', 'url': 'https://www.whosampled.com/Funkadelic/'},
 {'name': 'The Beatles', 'url': 'https://www.whosampled.com/The-Beatles/'},
 {'name': 'Marvin Gaye', 'url': 'https://www.whosampled.com/Marvin-Gaye/'},
 {'name': 'Michael Jackson',
  'url': 'https://www.whosampled.com/Michael-Jackson/'},
 {'name': 'Parliament', 'url': 'https://www.whosampled.com/Parliament/'},
 {'name': 'Prince', 'url': 'https://www.whosampled.com/Prince/'},
 {'name': "The J.B.'s", 'url': 'https://www.whosampled.com/The-J.B.%27s/'},
 {'name': 'Chic', 'url': 'https://www.whosampled.com/Chic/'},
 {'name': 'Lyn Collins', 'url': 'https://www.whosampled.com/Lyn-Collins/'},
 {'name': 'Isaac Hayes', 'url': 'https://www.whosampled.com/Isaac-Hayes/'},
 {'name': 'KC & the Sunshine Band',
  'url': 'https://www.whosampled.com/KC-%26-the-Sunshine-Band/'},
 {'name': 'Stevie Wonder', 'url': 'https://www.whosampled.com/Stevie-Wonder/'},
 {'name': 'Earth, Wind & Fire',
  'url': 'https://www.whosampled.com/Earth,-Wind-%26-Fire/'},
 {'name': 'Bee Gees', 'url': 'https://www.whosampled.com/Bee-Gees/'},
 {'name': 'George Benson', 'url': 'https://www.whosampled.com/George-Benson/'},
 {'name': 'Bobby Byrd', 'url': 'https://www.whosampled.com/Bobby-Byrd/'},
 {'name': 'Fred Wesley', 'url': 'https://www.whosampled.com/Fred-Wesley/'},
 {'name': 'The Temptations',
  'url': 'https://www.whosampled.com/The-Temptations/'},
 {'name': 'Sly & the Family Stone',
  'url': 'https://www.whosampled.com/Sly-%26-the-Family-Stone/'},
 {'name': 'Delegation', 'url': 'https://www.whosampled.com/Delegation/'},
 {'name': 'Dalida', 'url': 'https://www.whosampled.com/Dalida/'}]

In [ ]:
db = DatabaseInteraction()

In [ ]:
test = [{'name': 'James Brown', 'url': 'https://www.whosampled.com/James-Brown/'}]

In [ ]:
db.write_artists(artist_urls)

In [ ]:
for artist in test:
    query = f"""        
        INSERT INTO artists (name, url)
        VALUES ('{artist["name"]}',
                '{artist["url"]}');
                  """
    cur.execute(query)
    conn.commit()

In [ ]:
conn.rollback()

In [ ]:
db.get_next_artist_to_scrape()

In [ ]:
(24, 'https://www.whosampled.com/Dalida/')[0]

In [ ]:
query = """
SELECT id, url FROM artists
WHERE scraped = 0
ORDER BY id DESC
LIMIT 1
"""

In [ ]:
cur.execute(query)
conn.commit()

In [ ]:
list(cur)

In [ ]:
artist_urls[1]

In [ ]:
s = Scraper('https://www.whosampled.com/James-Brown/')

In [ ]:
jb = {'name': 'James Brown', 'url': 'https://www.whosampled.com/James-Brown/', 'id' : 2}

In [ ]:
# s.get_artist_songs(jb)

In [ ]:
james_brown_songs = _

In [ ]:
db = DatabaseInteraction()

In [ ]:
db.write_songs(jbsongs)

In [ ]:
conn.rollback()

In [ ]:
db.update_artist_scraped_status(jb, 1)

In [ ]:
pwd

In [ ]:
with open('../data/james_brown_songs.txt', 'w') as f:
    for item in jbsongs:
        f.write("%s\n" % item)

In [ ]:
jbsongs

In [ ]:
db.get_next_song_to_scrape()

In [ ]:
db.get_next_artist_to_scrape()

In [ ]:
        query = """
        SELECT count(*) from songs
        where scraped = 0
        """

In [ ]:
cur.execute(query)

In [ ]:
conn.commit()

In [ ]:
list(cur)[0][0]

In [ ]:
s = Scraper()

In [ ]:
db = DatabaseInteraction()

In [ ]:
url = 'https://www.whosampled.com/Beyonc%C3%A9/All-Night/'
sampled_in, contains, new_artists = s.get_song_connections(url)

In [ ]:
pdb

In [ ]:
url = 'https://www.whosampled.com/Beyonc%C3%A9/Upgrade-U/'
sampled_in, contains, new_artists = s.get_song_connections(url)

In [ ]:
contains

In [ ]:
sampled_in

In [ ]:
for x, y in zip(contains, new_artists):
    print(x['url'])
    print(y['name']+'\n')

In [ ]:
len(new_artists)

In [ ]:
new_artists

In [ ]:
for song in sample_song_ids:
    query = f"""   
        INSERT INTO connections (song_id, sampled_by_song_id)

        SELECT %s, %s

        WHERE %s, %s NOT IN (
                    SELECT song_id, sampled_by_song_id FROM connections
                    );
                """
    self.cur.execute(query, (
         song_id,
         song,
         song_id,
         song))
    self.conn.commit()

In [ ]:
query = """   
    SELECT id FROM artists
    WHERE url = %s
            """
url = contains[0]['artist_url']
cur.execute(query, (url,))
conn.commit()

In [ ]:
list(cur)[0][0]

In [ ]:
new_artists

In [ ]:
db.write_artists(new_artists)

In [ ]:
db.write_songs(contains)

In [ ]:
db.write_songs(sampled_in)

In [ ]:
query = """   
        SELECT id
        FROM songs    
        WHERE url = %s;
        """
cur.execute(query, ('https://www.whosampled.com/Betty-Wright/Girls-Can%27t-Do-What-the-Guys-Do/',))
conn.commit()
[x for (x,) in cur]

In [ ]:
db.get_next_artist_to_scrape()

In [ ]:
artist = _

In [ ]:
type(artist['id'])

In [ ]:
db = DatabaseInteraction()

In [ ]:
for i in range(30, 47):
    db.update_scraped_status("artists", i, 1)

In [ ]:
query = f"""
        UPDATE {}
        SET scraped = %s
        WHERE id = %s
        ;"""

cur.execute(
    sql.SQL(query, (artists, 1, 1))
conn.commit()

In [ ]:
db.get_next_artist_to_scrape()

In [ ]:
db.get_next_song_to_scrape()

In [ ]:
db.insert_contains_sample(12,5)

In [ ]:
conn.rollback()

In [ ]:
query = """   
        SELECT song_id, sampled_by_song_id
        FROM connections;
        """
cur.execute(query)
conn.commit()

In [ ]:
[x for x in cur]

In [ ]:
db = DatabaseInteraction()

In [ ]:
test = {'name': 'a', 'url': 'a.com'}

In [ ]:
db.write_artists(artist_urls, return_artist_id=True)

In [ ]:
db.cur.fetchone()

In [ ]:
artist_urls[0]

In [ ]:
db.get_artist_info(url='https://www.whosampled.com/James-Brown/')

In [ ]:
artist_dict = _

In [ ]:
artist_dict["id"]

In [ ]:
db = DatabaseInteraction(db_name='mixmaker2')

In [ ]:
db.insert_contains_sample(2971, 5)

In [ ]:
query = """   
        SELECT song_id, sampled_by_song_id
        FROM connections;
        """
cur.execute(query)
conn.commit()

In [ ]:
query = """   
        SELECT a.name, count(s.artist_id) as artist_freq
        FROM artists a
        JOIN songs s
        ON a.id = s.artist_id
        GROUP BY a.id
        HAVING a.scraped_spotify = 0
        ORDER BY artist_freq DESC
        LIMIT 50;
        """
cur.execute(query)
conn.commit()

In [ ]:
list(cur)

In [ ]:
output = _

In [ ]:
output = output[10:].copy()

In [ ]:
output

In [54]:
db = DatabaseInteraction(db_name='mixmaker')

NameError: name 'DatabaseInteraction' is not defined

> <ipython-input-54-b934e13863f0>(1)<module>()
----> 1 db = DatabaseInteraction(db_name='mixmaker')

ipdb> quit

In [ ]:
db.update_scraped_status('songs', 16505, 1)

In [ ]:
import urllib.parse

In [ ]:
song_name = "Heart-of-the-City-(Ain't-No-Love)"

In [ ]:
(urllib.parse.quote(song_name
                                            .replace(' ', '-'))
                                            .replace('%28', '(')
                                            .replace('%29', ')'))

In [ ]:
artist_url = 'https://www.whosampled.com/Jay-Z/'

In [ ]:
song_url = (artist_url + (urllib.parse.quote(song_name
                                            .replace(' ', '-'))
                                            .replace('%28', '(')
                                            .replace('%29', ')'))
                                      + '/')

In [ ]:
print(song_url)

In [ ]:
# FIX WRONG IDS

In [ ]:
conn = psycopg2.connect(dbname='mixmaker', host='localhost')
cur = conn.cursor()

In [ ]:
query = "select id, url from songs where url like '%\%28%' or url like ;"

In [ ]:
query = """   
        SELECT id, url from songs
        WHERE url LIKE '%\%28%'
        OR url LIKE '%\%29%'
        ORDER BY id
        LIMIT 1;
        """

In [ ]:
cur.execute(query)
conn.commit()

In [ ]:
results = [x for x in cur]

In [ ]:
results

In [ ]:
song_url = results[0][1]

In [ ]:
song_url = 'https://www.whosampled.com/James-Brown/Funky-President-%28People-It%27s-Bad%29/'

In [ ]:
correct_song_url = song_url.replace('%28', '(').replace('%29', ')')

In [ ]:
correct_song_url

In [ ]:
query = """   
        SELECT id, url from songs
        WHERE url = %s
        LIMIT 1;
        """
cur.execute(query, (correct_song_url,))
conn.commit()

In [ ]:
results = [x for x in cur]

In [ ]:
results[0][0]

In [ ]:
old_id = 6122

In [ ]:
if len(results) == 1:
    update_song_id = """   
                     UPDATE connections
                     SET song_id = %s
                     WHERE song_id = %s;
                     """
    update_sampled = """   
                     UPDATE connections
                     SET sampled_by_song_id = %s
                     WHERE sampled_by_song_id = %s;
                     """
    cur.execute(update_song_id, (results[0][0], old_id))
    cur.execute(update_sampled, (18973, 123456))
                                                       
    conn.commit()

In [22]:
db.fix_similar_url_ids()

done

In [10]:
db = database_interaction.DatabaseInteraction()

In [29]:
songs = db.get_table('songs')

In [39]:
jb = db.get_song_and_artist_names(artist_id=1)

In [42]:
url = 'https://www.whosampled.com/James-Brown/The-Boss/'

In [58]:
splits = url.split('/')
print(splits)
'/'.join(splits[:-2]) + '/'

['https:', '', 'www.whosampled.com', 'James-Brown', 'The-Boss', '']

'https://www.whosampled.com/James-Brown/'

In [63]:
splits[4]

'The-Boss'

In [67]:
def split_off_song_name(url):
    splits = url.split('/')
    if ((splits[5] == 'tv') or 
        (splits[5] == 'movie')):
        '/'.join(splits[:5]) + '/' 
    return '/'.join(splits[:4]) + '/'

In [68]:
split_off_song_name(url)

'https://www.whosampled.com/James-Brown/'

In [71]:
jb['correct_artist_url'] = jb['song_url'].apply(split_off_song_name)

In [73]:
artists = db.get_table('artists')

In [97]:
jb = jb.merge(artists, left_on='correct_artist_url', right_on='url')

In [77]:
row0 = pd.DataFrame(jb.loc[0, :])

In [100]:
def correct_artist_names(df):
    if df['artist_name'] != df['name']:
        return df['name']
    else:
        return df['artist_name']

In [101]:
jb.apply(correct_artist_names, axis=1)

0           James Brown
1           James Brown
2           James Brown
3           James Brown
4           James Brown
5           James Brown
6           James Brown
7           James Brown
8           James Brown
9           James Brown
10          James Brown
11          James Brown
12          James Brown
13          James Brown
14          James Brown
15          James Brown
16          James Brown
17          James Brown
18          James Brown
19          James Brown
20          James Brown
21          James Brown
22          James Brown
23          James Brown
24          James Brown
25          James Brown
26          James Brown
27          James Brown
28          James Brown
29          James Brown
             ...
263         James Brown
264         James Brown
265         James Brown
266         James Brown
267         James Brown
268         James Brown
269         James Brown
270         James Brown
271         James Brown
272         James Brown
273         James Brown
274         James Brown
275         James Brown
276         James Brown
277         James Brown
278         James Brown
279         James Brown
280         James Brown
281         James Brown
282     Black Eyed Peas
283     Black Eyed Peas
284    Afrika Bambaataa
285    Afrika Bambaataa
286    Afrika Bambaataa
287    Afrika Bambaataa
288    Afrika Bambaataa
289    Afrika Bambaataa
290         Lyn Collins
291       Marva Whitney
292      Vicki Anderson
Length: 293, dtype: object

In [126]:
%timeit all_songs = db.get_song_and_artist_names()

1.81 s ± 130 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [132]:
pd.DataFrame(all_songs.loc[all_songs['artist_name'] == 'James Brown', 'song_name'], columns=['song_name'])

                                             song_name
80                         Payback (The Final Mixdown)
81            Funky President (People It's Bad) (1974)
82                                Funky Drummer (1970)
83                                     My Thang (1974)
84   The Payback Mix (Keep on Doing What You're Doi...
85                                In the Middle (1968)
86                 Give It Up or Turnit a Loose (1969)
87   (Get Up I Feel LIke Being Like A) Sex Machine ...
88                             There Was a Time (1969)
89                  Funky Drummer (Bonus Beat Reprise)
90                Give It Up or Turnit a Loose (Remix)
91   I Don't Want Nobody to Give Me Nothing (Open U...
92                    You're Still Out of Sight (1969)
93               Sex Machine Part I and Part II (1975)
94   Ain't That a Groove (Part 1) (1966)\nby James ...
95              Brother Rapp/Ain't It Funky Now (Live)
96                                  The Payback (1973)
97         Say It Loud, I'm Black and I'm Proud (1968)
98                Licking Stick - Licking Stick (1968)
99                   Introduction to Star Time! (1968)
100          Funky Drummer (Bonus Beat Reprise) (1986)
101                        Blind Man Can See It (1973)
102                                    The Boss (1973)
103                            I'm a Greedy Man (1971)
104                                 Coldblooded (1974)
105                             Blues and Pants (1971)
106                                  Mind Power (1973)
107                                       Sunny (1968)
108  People Get Up and Drive Your Funky Soul (Remix...
109                               Make It Funky (1971)
..                                                 ...
332  Can't Get Any Harder (C&C / Leaders of the New...
333                             Get Up Offa That Thing
334  Don't Tell a Lie About Me and I Won't Tell the...
335             Funky Drummer (Listen to the Muro Mix)
336        No Static (The 8 Minute Full Force Def Mix)
337                               Superbad, Superslick
338   I Got a Good Thing (And I Ain't Gonna Let It Go)
339               Say It Loud, I'm Black and I'm Proud
340  Hot Pants Pt. 1 (She Got to Use What She Got t...
341                               I Got to Move (1986)
342  Just Won't Do Right (1957)\nby James Brown and...
343                            I Got You (I Feel Good)
344                  Get Up, Get Into It, Get Involved
345  Introduction to Say It Loud - I'm Black and I'...
346                                  Soul Power (Live)
347                  Funky President (People It's Bad)
348                          Static (Full Force Remix)
349           Talkin' Loud & Sayin' Nothing (Pt 1 & 2)
350                              Mother Popcorn (Live)
351           Get Up (I Feel Like Being A) Sex Machine
352  Let Yourself Go (1967)\nby James Brown and The...
353  Get It Together (Part 1) (1967)\nby James Brow...
354    Deep in It (Lost and Found, at Last Mix) (2002)
355              You Can't Keep a Good Man Down (1983)
356           Funk on Ah Roll (Bump & Flex Mix) (1999)
357  These Foolish Things (1963)\nby James Brown an...
358                She's the One (Funky Drummer Remix)
359                Unchained (The Payback/Untouchable)
360  Hot Pants (She Got to Use What She Got to Get ...
361                         Introduction to Star Time!

[282 rows x 1 columns]

In [136]:
jb_songs = jb['song_name'].apply(lambda x: x.split('\n'))

In [167]:
def _fix_song_titles(name):
    split = name.split('\n')
    return re.sub(r' \((19|20)[0-9]{2}\)', '' ,split[0])

In [170]:
jb['song_name_one_line'] = jb['song_name'].apply(_fix_song_titles)

In [171]:
jb['song_name_one_line'].head()

0                          Payback (The Final Mixdown)
1                    Funky President (People It's Bad)
2                                        Funky Drummer
3                                             My Thang
4    The Payback Mix (Keep on Doing What You're Doi...
Name: song_name_one_line, dtype: object

In [214]:
query = """
        SELECT id, name
        FROM songs
        WHERE id = %s
        """
db.cur.execute(query, (13,))
db.conn.commit()

In [212]:
song = [x for x in db.cur]

In [213]:
song

[(13, "I'm a Greedy Man (1971)", "I'm a Greedy Man")]

In [210]:
_fix_song_titles(song[0][1])

"I'm a Greedy Man"

In [206]:
db._find_replace_for_song_titles(13)

In [222]:
query = """
        SELECT id
        FROM songs
        """
db.cur.execute(query)
db.conn.commit()

In [223]:
song_ids = [x for (x,) in db.cur]

In [230]:
db._find_replace_for_song_titles()

done

In [232]:
jb.loc[0,'scraped']

1

In [44]:
db._write_corrected_artist_ids()

done

In [41]:
pdb

Automatic pdb calling has been turned ON

In [16]:
artists = db.get_table('artists')

In [17]:
artists.columns

Index(['id', 'name', 'url', 'scraped', 'scraped_spotify'], dtype='object')

In [30]:
query = """
        SELECT id, artist_id, url
        FROM songs
        WHERE corrected_artist_id = 0
        ORDER BY id
        LIMIT 1;
        """
db.cur.execute(query)
db.conn.commit()

In [31]:
df = pd.DataFrame([x for x in db.cur], columns=['id', 'artist_id', 'song_url'])
df

    id  artist_id                                           song_url
0  111          1  https://www.whosampled.com/tv/Sonya-Live!-In-L...

In [33]:
url = (df.loc[0,'song_url'])

In [34]:
url

'https://www.whosampled.com/tv/Sonya-Live!-In-LA/James-Brown-Interview/'

In [38]:
url.split('/')[3]

'tv'

In [39]:
db._extract_real_artist_url(url)

'https://www.whosampled.com/tv/Sonya-Live!-In-LA/'

In [48]:
df.to_dict(orient='records')

[{'artist_id': 1,
  'id': 111,
  'song_url': 'https://www.whosampled.com/tv/Sonya-Live!-In-LA/James-Brown-Interview/'}]

In [ ]:
df.to_dict(orient=)

In [74]:
db = database_interaction.DatabaseInteraction()

In [72]:
db.get_song_and_artist_names(artist_id=1).head()

      id  artist_name                                          song_name
0   5042  James Brown             Funky Drummer (Listen to the Muro Mix)
1     60  James Brown                                      In the Middle
2  29276  James Brown             Brother Rapp/Ain't It Funky Now (Live)
3      4  James Brown                                           My Thang
4      5  James Brown  Don't Tell a Lie About Me and I Won't Tell the...

In [70]:
conns = db.get_table('connections')

In [71]:
conns

       song_id  sampled_by_song_id  is_connected
0            1                 272             1
1            1                 273             1
2            1                 274             1
3            1                 275             1
4            1                 276             1
5            1                 277             1
6            1                 278             1
7            1                 279             1
8            1                 280             1
9            1                 281             1
10           1                 282             1
11           1                 283             1
12           1                 284             1
13           1                 285             1
14           1                 286             1
15           1                 287             1
16           1                 288             1
17           1                 289             1
18           1                 290             1
19           1                 291             1
20           1                 292             1
21           1                 293             1
22           1                 294             1
23           1                 295             1
24           1                 296             1
25           1                 297             1
26           1                 298             1
27           1                 299             1
28           1                 300             1
29           1                 301             1
...        ...                 ...           ...
36718      663               12797             1
36719    40263               12835             1
36720     8583               12835             1
36721    40264               12837             1
36722    13685               12837             1
36723     8583               12837             1
36724    12056               12837             1
36725    19740               12945             1
36726    22755               12945             1
36727    35418               13029             1
36728    20608               13029             1
36729    32920               13029             1
36730     8599               13029             1
36731     1609               13029             1
36732    40265               13029             1
36733    12286               13029             1
36734    29982               13029             1
36735    19798               13029             1
36736     4896               13040             1
36737    29325               13040             1
36738    40266               13040             1
36739    26488               13040             1
36740    23597               13040             1
36741    40267               13069             1
36742    40268               13069             1
36743    40269               13069             1
36744    19866               13069             1
36745    18333               13957             1
36746     8284               13957             1
36747    13045               13957             1

[36748 rows x 3 columns]

In [73]:
db.conn.close()

In [82]:
db.write_symmetric_connections()

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15100
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000
17100
17200
17300
17400
17500
17600
17700
17800
17900
18000
18100
18200
18300
18400
18500
18600
18700
18800
18900
19000
19100
19200
19300
19400
19500
19600
19700
19800
19900
20000
20100
20200
20300
20400
20500
20600
20700
20800
20900
21000
21100
21200
21300
21400
21500
21600
21700
21800
21900
22000
22100
22200
22300
22400
22500
22600
22700
22800
22900
23000
23100
23200
23300
23400
23500
23600
23700
23800
23900
24000
24100
24200
24300
24400
24500
24600
24700
24800
24900
25000
25100
25200
25300
25400
25500
25600
25700
25800
25900
26000
26100
26200
26300
26400
26500
26600
26700
26800
26900
27000
27100
27200
27300
27400
27500
27600
27700
27800
27900
28000
28100
28200
28300
28400
28500
28600
28700
28800
28900
29000
29100
29200
29300
29400
29500
29600
29700
29800
29900
30000
30100
30200
30300
30400
30500
30600
30700
30800
30900
31000
31100
31200
31300
31400
31500
31600
31700
31800
31900
32000
32100
32200
32300
32400
32500
32600
32700
32800
32900
33000
33100
33200
33300
33400
33500
33600
33700
33800
33900
34000

In [78]:
query = """
        SELECT song_id, sampled_by_song_id
        FROM connections
        WHERE checked = 0
        LIMIT 1
        """
db.cur.execute(query)
db.conn.commit()
ids = [x for x in db.cur]

In [79]:
ids

[(1, 457)]

In [80]:
ids[0][0]

1

In [30]:
db = database_interaction.DatabaseInteraction()

In [12]:
query = """
        SELECT song_id
        FROM connections
        """
db.cur.execute(query)
db.conn.commit()
ids = [x for (x,) in db.cur]

In [19]:
ids_set = set(ids[:5])

In [24]:
ids_set

{457, 641, 1190, 1365, 1533}

In [21]:
type(ids[0])

int

In [23]:
for song_id in ids_set:    
    query = f"""   
        INSERT INTO connections (song_id, sampled_by_song_id, is_connected)
        SELECT %s, %s, 1
        WHERE (%s, %s) NOT IN (
                SELECT song_id, sampled_by_song_id FROM connections
                )
                """

    db.cur.execute(query, (
            song_id,
            song_id,
            song_id,
            song_id))
    db.conn.commit()

In [ ]:
db.write_song_to_song_connection()