In [1]:
import pandas as pd
import numpy as np
import pyspark as ps
from pyspark.sql import SparkSession
from pyspark.sql.types import (
    IntegerType, StringType, IntegerType, FloatType, 
    StructField, StructType, DoubleType
)
from pyspark.ml.recommendation import ALS
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from pyspark.sql.functions import udf, col, isnan
import psycopg2
from pandas.io import sql
from sklearn.model_selection import train_test_split
from pyspark.ml.evaluation import RegressionEvaluator
from itertools import product

In [2]:
conn = psycopg2.connect(dbname='mixmaker2', host='localhost')
cur = conn.cursor()

In [3]:
query = 'SELECT * FROM artists;'
artists = sql.read_sql_query(query, conn)

In [4]:
artists.sort_values('id').head()

,id,name,url,scraped,scraped_spotify
4080,1,James Brown,https://www.whosampled.com/James-Brown/,1,0.0
3,2,Traditional Folk,https://www.whosampled.com/Traditional-Folk/,1,0.0
777,3,Kool & the Gang,https://www.whosampled.com/Kool-%26-the-Gang/,1,0.0
778,4,Funkadelic,https://www.whosampled.com/Funkadelic/,1,0.0
779,5,The Beatles,https://www.whosampled.com/The-Beatles/,1,0.0

In [5]:
query = 'SELECT * FROM songs;'
songs = sql.read_sql_query(query, conn)

In [6]:
len(songs)

42879

In [7]:
query = 'SELECT * FROM connections;'
connections = sql.read_sql_query(query, conn)

In [8]:
connections.head()

   song_id  sampled_by_song_id  is_connected
0        1                 272             1
1        1                 273             1
2        1                 274             1
3        1                 275             1
4        1                 276             1

In [9]:
spark_df = spark.createDataFrame(connections)

In [10]:
train, test = spark_df.randomSplit([0.8, 0.2], seed=216)

In [ ]:
als_model = ALS(
    itemCol='song_id',
    userCol='sampled_by_song_id',
    ratingCol='is_connected',
    nonnegative=True,
    regParam=0.01,
    rank=10)

recommender = als_model.fit(train)

test_predictions = recommender.transform(test)

In [ ]:
test_predictions.show()

In [ ]:
preds_df = test_predictins.toPandas()

In [ ]:
preds_df.head()

In [ ]:
check = preds_df.sort_values('prediction', ascending=False).head(10)

In [ ]:
lookup_id = 612
lookup_df = preds_df.loc[preds_df['sampled_by_song_id']==lookup_id,:]

In [ ]:
lookup_df.sort_values('prediction', ascending=False).head()

In [ ]:
songs[songs['name'] == 'All Night']

In [ ]:
artists.loc[artists['name'].apply(lambda x: x.startswith('Beyonc'))]

In [ ]:
songs[songs['artist_id'] == 6908]

In [ ]:
preds_df.sort_values('prediction', ascending=False).head(10)

In [ ]:
als_model = ALS(
    itemCol='song_id',
    userCol='sampled_by_song_id',
    ratingCol='is_connected',
    nonnegative=True,
    alpha = 0.1,
    regParam=0.01,
    rank=50)

recommender = als_model.fit(train)

In [ ]:
train_preds = recommender.transform(train)

In [ ]:
evaluator = RegressionEvaluator(metricName='rmse', 
                                labelCol='is_connected',
                                predictionCol='prediction')

In [ ]:
rmse_train = evaluator.evaluate(train_preds)

In [ ]:
rmse_train

In [ ]:
lookup_id = 627
lookup_df = preds_df.loc[preds_df['sampled_by_song_id']==lookup_id,:]
songs[songs['id'] == lookup_id]

In [ ]:
test_predictions = recommender.transform(test)

In [ ]:
rmse = evaluator.evaluate(test_predictions)

In [ ]:
rmse_test = evaluator.evaluate(
    test_predictions.filter("prediction + 1 > prediction"))

In [ ]:
rmse_test

In [ ]:
test_predictions.filter("prediction + 1 > prediction").count()

In [ ]:
test_predictions.count()

In [ ]:
test_predictions.persist().count()

In [ ]:
7138 / 12387

In [44]:
cd /Users/brettashley/galvanize/dsi/00-Capstone/mix-maker/src

/Users/brettashley/galvanize/dsi/00-Capstone/mix-maker/src

In [49]:
import model

In [50]:
sr = model.SongRecommender()

In [ ]:
df.columns

In [ ]:
sr.generate_negative_targets(test,
                             'song_id',
                             'sampled_by_song_id',
                             'is_connected',
                             seed=406)

In [ ]:
test_with_neg = _

In [ ]:
test_with_neg.limit(10).show()

In [ ]:
test_with_neg.count()

In [ ]:
preds = recommender.transform(test_with_neg)

In [ ]:
sr.RMSE(preds, has_nan_values=True)

In [ ]:
preds_df = preds.toPandas()

In [ ]:
preds_df.columns

In [ ]:
df = preds_df.loc[preds_df['is_connected'] == 0,:]
checks = df.sort_values('prediction', ascending=False).head(100)

In [ ]:
checks.head()

In [ ]:
check_merge_song1 = (checks.merge(songs, left_on='song_id', right_on='id')
                     .drop(columns=['artist_id', 'id', 'scraped', 'index'], axis=1))

In [ ]:
check_merge_songs = (check_merge_song1.merge(songs, left_on='sampled_by_song_id', right_on='id')
    .drop(columns=['artist_id', 'id', 'scraped', 'is_connected',
                   'scraped_features_x', 'scraped_features_y'], axis=1))

In [ ]:
check_merge_songs

In [ ]:
check_merge_songs.columns = ['sampled_by_song_id', 'song_id',
                             'prediction', 'sample_name',
                             'sample_url', 'song_name',
                             'song_url']

In [ ]:
check_merge_songs

In [11]:
df = train.toPandas()

In [19]:
len(df[['song_id', 'sampled_by_song_id']].values)

48687

In [34]:
set((x,y) for (x,y) in product(df.loc[:100,'song_id'], df.loc[:,'sampled_by_song_id']))

{(1, 37922),
 (1, 22872),
 (1, 32515),
 (1, 9145),
 (1, 37519),
 (1, 30184),
 (1, 5203),
 (1, 14854),
 (1, 19573),
 (1, 4664),
 (1, 12515),
 (1, 34212),
 (1, 42095),
 (1, 3912),
 (1, 41716),
 (1, 16575),
 (1, 26466),
 (1, 1493),
 (1, 24324),
 (1, 32207),
 (1, 946),
 (1, 37195),
 (1, 21985),
 (1, 29780),
 (1, 6687),
 (1, 36251),
 (1, 29233),
 (1, 13999),
 (1, 18590),
 (1, 3380),
 (1, 41136),
 (1, 25902),
 (1, 2961),
 (1, 10820),
 (1, 39082),
 (1, 24000),
 (1, 8225),
 (1, 38711),
 (1, 16014),
 (1, 21002),
 (1, 28925),
 (1, 5792),
 (1, 13675),
 (1, 20314),
 (1, 27917),
 (1, 17703),
 (1, 27626),
 (1, 2653),
 (1, 10240),
 (1, 40726),
 (1, 17292),
 (1, 25207),
 (1, 9965),
 (1, 15690),
 (1, 20726),
 (1, 30393),
 (1, 5484),
 (1, 15319),
 (1, 35048),
 (1, 5065),
 (1, 12732),
 (1, 34677),
 (1, 42296),
 (1, 19427),
 (1, 27222),
 (1, 2073),
 (1, 11980),
 (1, 40402),
 (1, 41861),
 (1, 1766),
 (1, 9385),
 (1, 39871),
 (1, 22741),
 (1, 7491),
 (1, 37380),
 (1, 30053),
 (1, 6952),
 (1, 14739),
 (1, 36692),
 (1, 29634),
 (1, 4533),
 (1, 12408),
 (1, 34097),
 (1, 18863),
 (1, 3781),
 (1, 11400),
 (1, 41537),
 (1, 16436),
 (1, 26367),
 (1, 1186),
 (1, 11029),
 (1, 24209),
 (1, 32068),
 (1, 783),
 (1, 37056),
 (1, 21886),
 (1, 14431),
 (1, 36112),
 (1, 21467),
 (1, 13860),
 (1, 35837),
 (1, 28382),
 (1, 3201),
 (1, 18160),
 (1, 25787),
 (1, 10705),
 (1, 38951),
 (1, 23901),
 (1, 459),
 (1, 10174),
 (1, 38540),
 (1, 23354),
 (1, 31213),
 (1, 6224),
 (1, 15899),
 (1, 20871),
 (1, 28746),
 (1, 5693),
 (1, 13536),
 (1, 20183),
 (1, 13133),
 (1, 32774),
 (1, 17596),
 (1, 2346),
 (1, 40675),
 (1, 17177),
 (1, 25036),
 (1, 38216),
 (1, 15559),
 (1, 20547),
 (1, 15020),
 (1, 34917),
 (1, 19603),
 (1, 4934),
 (1, 12553),
 (1, 34498),
 (1, 42165),
 (1, 19320),
 (1, 26915),
 (1, 11865),
 (1, 16837),
 (1, 26504),
 (1, 1651),
 (1, 39732),
 (1, 24482),
 (1, 32277),
 (1, 7384),
 (1, 37265),
 (1, 29938),
 (1, 14696),
 (1, 36385),
 (1, 29535),
 (1, 4354),
 (1, 14325),
 (1, 18724),
 (1, 28655),
 (1, 3666),
 (1, 33643),
 (1, 18305),
 (1, 26228),
 (1, 24174),
 (1, 31953),
 (1, 644),
 (1, 8527),
 (1, 21707),
 (1, 31422),
 (1, 6497),
 (1, 16340),
 (1, 21328),
 (1, 28955),
 (1, 6094),
 (1, 13745),
 (1, 20448),
 (1, 3102),
 (1, 33239),
 (1, 17997),
 (1, 25648),
 (1, 2811),
 (1, 10414),
 (1, 40892),
 (1, 25245),
 (1, 320),
 (1, 9995),
 (1, 31098),
 (1, 7981),
 (1, 15760),
 (1, 20764),
 (1, 5514),
 (1, 35126),
 (1, 19884),
 (1, 13018),
 (1, 34707),
 (1, 17417),
 (1, 27388),
 (1, 2215),
 (1, 12138),
 (1, 40568),
 (1, 24921),
 (1, 1804),
 (1, 38085),
 (1, 32550),
 (1, 7657),
 (1, 15452),
 (1, 37538),
 (1, 30083),
 (1, 5238),
 (1, 14905),
 (1, 19560),
 (1, 4819),
 (1, 34399),
 (1, 39972),
 (1, 16722),
 (1, 1480),
 (1, 24383),
 (1, 32226),
 (1, 7253),
 (1, 37230),
 (1, 21892),
 (1, 14565),
 (1, 36286),
 (1, 29396),
 (1, 4255),
 (1, 14146),
 (1, 18609),
 (1, 3375),
 (1, 41131),
 (1, 26049),
 (1, 2996),
 (1, 10879),
 (1, 24059),
 (1, 25518),
 (1, 529),
 (1, 8388),
 (1, 38698),
 (1, 31243),
 (1, 16033),
 (1, 21037),
 (1, 28816),
 (1, 5979),
 (1, 13582),
 (1, 35527),
 (1, 27936),
 (1, 13291),
 (1, 17882),
 (1, 27533),
 (1, 2672),
 (1, 10299),
 (1, 40713),
 (1, 25194),
 (1, 30967),
 (1, 7866),
 (1, 15725),
 (1, 20713),
 (1, 30556),
 (1, 5383),
 (1, 15306),
 (1, 34947),
 (1, 5100),
 (1, 12887),
 (1, 34664),
 (1, 42451),
 (1, 27209),
 (1, 2108),
 (1, 12007),
 (1, 40437),
 (1, 1689),
 (1, 37970),
 (1, 32435),
 (1, 7526),
 (1, 22357),
 (1, 29976),
 (1, 7107),
 (1, 14774),
 (1, 36687),
 (1, 4520),
 (1, 34260),
 (1, 3832),
 (1, 11427),
 (1, 16431),
 (1, 1349),
 (1, 24244),
 (1, 32127),
 (1, 8597),
 (1, 21777),
 (1, 6543),
 (1, 14450),
 (1, 29089),
 (1, 4116),
 (1, 14047),
 (1, 3236),
 (1, 33405),
 (1, 40992),
 (1, 25950),
 (1, 2817),
 (1, 10740),
 (1, 39130),
 (1, 23920),
 (1, 25403),
 (1, 494),
 (1, 8273),
 (1, 38567),
 (1, 23517),
 (1, 15934),
 (1, 20922),
 (1, 28781),
 (1, 5840),
 (1, 20170),
 (1, 13152),
 (1, 32825),
 (1, 17751),
 (1, 2509),
 (1, 40582),
 (1, 17212),
 (1, 25063),
 (1, 1962),
 (1, 38243),
 (1, 30796),
 (1, 15610),
 (1, 37832),
 (1, 20582),
 (1, 30249),
 (1, 5276),
 (1, 15175),
 (1, 19638),
 (1, 4985),
 (1, 12588),
 (1, 19219),
 (1, 27078),
 (1, 3977),
 (1, 11900),
 (1, 40258),
 (1, 16888),
 (1, 1558),
 (1, 9433),
 (1, 22597),
 (1, 37300),
 (1, 22050),
 (1, 14595),
 (1, 36548),
 (1, 29554),
 (1, 4389),
 (1, 14312),
 (1, 18911),
 (1, 28546),
 (1, 3701),
 (1, 33550),
 (1, 26223),
 (1, 1234),
 (1, 10885),
 (1, 31988),
 (1, 703),
 (1, 21742),
 (1, 16335),
 (1, 35968),
 (1, 21323),
 (1, 6113),
 (1, 35693),
 (1, 20379),
 (1, 3121),
 (1, 33226),
 (1, 18016),
 (1, 25643),
 (1, 2718),
 (1, 10561),
 (1, 38999),
 (1, 23757),
 (1, 25264),
 (1, 379),
 (1, 38460),
 (1, 31005),
 (1, 8128),
 (1, 15755),
 (1, 20791),
 (1, 30714),
 (1, 5549),
 (1, 35113),
 (1, 27658),
 (1, 13053),
 (1, 17452),
 (1, 27287),
 (1, 40467),
 (1, 24956),
 (1, 38136),
 (1, 7564),
 (1, 15479),
 (1, 37701),
 (1, 22515),
 (1, 30118),
 (1, 5225),
 (1, 15068),
 (1, 36757),
 (1, 19459),
 (1, 4854),
 (1, 34418),
 (1, 42021),
 (1, 26963),
 (1, 3846),
 (1, 11721),
 (1, 41602),
 (1, 16757),
 (1, 26424),
 (1, 1507),
 (1, 39588),
 (1, 24530),
 (1, 32133),
 (1, 7240),
 (1, 21951),
 (1, 29794),
 (1, 6869),
 (1, 36433),
 (1, 29391),
 (1, 4274),
 (1, 14181),
 (1, 18772),
 (1, 28447),
 (1, 3522),
 (1, 33435),
 (1, 41294),
 (1, 18225),
 (1, 26084),
 (1, 2991),
 (1, 10770),
 (1, 39264),
 (1, 23966),
 (1, 31809),
 (1, 564),
 (1, 8447),
 (1, 38861),
 (1, 21627),
 (1, 31278),
 (1, 6289),
 (1, 16196),
 (1, 35869),
 (1, 28811),
 (1, 6014),
 (1, 35578),
 (1, 20240),
 (1, 13198),
 (1, 33095),
 (1, 17917),
 (1, 2667),
 (1, 10462),
 (1, 40748),
 (1, 23642),
 (1, 25101),
 (1, 38281),
 (1, 30954),
 (1, 8029),
 (1, 15616),
 (1, 20620),
 (1, 30583),
 (1, 5434),
 (1, 15341),
 (1, 19932),
 (1, 4999),
 (1, 12874),
 (1, 19385),
 (1, 27244),
 (1, 2263),
 (1, 11930),
 (1, 40424),
 (1, 16902),
 (1, 24777),
 (1, 1724),
 (1, 9575),
 (1, 38005),
 (1, 7449),
 (1, 9164),
 (1, 37586),
 (1, 22344),
 (1, 30003),
 (1, 7142),
 (1, 14761),
 (1, 4675),
 (1, 19045),
 (1, 3731),
 (1, 11590),
 (1, 41503),
 (1, 16578),
 (1, 26293),
 (1, 1400),
 (1, 39473),
 (1, 24239),
 (1, 32018),
 (1, 965),
 (1, 8584),
 (1, 37022),
 (1, 21812),
 (1, 31743),
 (1, 14357),
 (1, 29252),
 (1, 4111),
 (1, 14066),
 (1, 35723),
 (1, 3423),
 (1, 41179),
 (1, 25969),
 (1, 2852),
 (1, 10735),
 (1, 39165),
 (1, 23915),
 (1, 385),
 (1, 8308),
 (1, 38746),
 (1, 23536),
 (1, 31163),
 (1, 16081),
 (1, 28672),
 (1, 5835),
 (1, 13502),
 (1, 35447),
 (1, 13083),
 (1, 32988),
 (1, 42631),
 (1, 17738),
 (1, 27453),
 (1, 2528),
 (1, 12203),
 (1, 24986),
 (1, 77),
 (1, 30823),
 (1, 7722),
 (1, 20505),
 (1, 30412),
 (1, 5303),
 (1, 15226),
 (1, 34867),
 (1, 19625),
 (1, 4892),
 (1, 12743),
 (1, 34456),
 (1, 19254),
 (1, 27129),
 (1, 4012),
 (1, 11799),
 (1, 40293),
 (1, 16787),
 (1, 1545),
 (1, 39874),
 (1, 22648),
 (1, 32291),
 (1, 9049),
 (1, 22213),
 (1, 29832),
 (1, 7027),
 (1, 14630),
 (1, 36607),
 (1, 29461),
 (1, 4568),
 (1, 14211),
 (1, 34116),
 (1, 18930),
 (1, 3688),
 (1, 11475),
 (1, 41364),
 (1, 16479),
 (1, 26114),
 (1, 1269),
 (1, 24100),
 (1, 31983),
 (1, 850),
 (1, 8453),
 (1, 21633),
 (1, 31604),
 (1, 36027),
 (1, 21358),
 (1, 6020),
 (1, 13903),
 (1, 20414),
 (1, 3284),
 (1, 41040),
 (1, 17947),
 (1, 25806),
 (1, 2737),
 (1, 38986),
 (1, 23776),
 (1, 25259),
 (1, 286),
 (1, 10177),
 (1, 38615),
 (1, 31024),
 (1, 8187),
 (1, 15790),
 (1, 20778),
 (1, 30621),
 (1, 5696),
 (1, 35276),
 (1, 27274),
 (1, 2429),
 (1, 12064),
 (1, 40502),
 (1, 24855),
 (1, 2010),
 (1, 38035),
 (1, 22793),
 (1, 32764),
 (1, 7591),
 (1, 15466),
 (1, 30297),
 (1, 5132),
 (1, 15095),
 (1, 36744),
 (1, 19494),
 (1, 4841),
 (1, 34325),
 (1, 19075),
 (1, 11756),
 (1, 16744),
 (1, 26579),
 (1, 1414),
 (1, 9289),
 (1, 7267),
 (1, 8918),
 (1, 22098),
 (1, 29701),
 (1, 6856),
 (1, 14515),
 (1, 36468),
 (1, 29410),
 (1, 4437),
 (1, 14104),
 (1, 18767),
 (1, 33470),
 (1, 41313),
 (1, 26015),
 (1, 1090),
 (1, 10805),
 (1, 559),
 (1, 8338),
 (1, 21534),
 (1, 6324),
 (1, 16255),
 (1, 35888),
 (1, 21243),
 (1, 5905),
 (1, 13764),
 (1, 35485),
 (1, 20235),
 (1, 13217),
 (1, 33146),
 (1, 17808),
 (1, 25691),
 (1, 2574),
 (1, 40903),
 (1, 23677),
 (1, 25120),
 (1, 10078),
 (1, 30861),
 (1, 8048),
 (1, 15675),
 (1, 20647),
 (1, 30570),
 (1, 5597),
 (1, 15232),
 (1, 35161),
 (1, 19959),
 (1, 12909),
 (1, 34598),
 (1, 42473),
 (1, 17500),
 (1, 27143),
 (1, 2250),
 (1, 11965),
 (1, 40323),
 (1, 24812),
 (1, 1879),
 (1, 9498),
 (1, 37992),
 (1, 22662),
 (1, 7484),
 (1, 9191),
 (1, 22371),
 (1, 30166),
 (1, 14924),
 (1, 36613),
 (1, 29619),
 (1, 4710),
 (1, 12329),
 (1, 42069),
 (1, 18968),
 (1, 41522),
 (1, 16613),
 (1, 26280),
 (1, 1299),
 (1, 39636),
 (1, 37041),
 (1, 21807),
 (1, 31634),
 (1, 6725),
 (1, 14344),
 (1, 36289),
 (1, 21428),
 (1, 4130),
 (1, 18628),
 (1, 3442),
 (1, 33291),
 (1, 41214),
 (1, 25876),
 (1, 39056),
 (1, 23822),
 (1, 25585),
 (1, 420),
 (1, 8303),
 (1, 38781),
 (1, 23531),
 (1, 31326),
 (1, 16116),
 (1, 28731),
 (1, 5870),
 (1, 13649),
 (1, 13118),
 (1, 33015),
 (1, 17773),
 (1, 27600),
 (1, 2459),
 (1, 40796),
 (1, 17354),
 (1, 25021),
 (1, 38201),
 (1, 30746),
 (1, 7885),
 (1, 15536),
 (1, 37766),
 (1, 20540),
 (1, 30439),
 (1, 5290),
 (1, 15133),
 (1, 4919),
 (1, 12794),
 (1, 42342),
 (1, 19241),
 (1, 2119),
 (1, 11786),
 (1, 16822),
 (1, 24697),
 (1, 1580),
 (1, 9367),
 (1, 32454),
 (1, 7305),
 (1, 9084),
 (1, 37442),
 (1, 22264),
 (1, 14809),
 (1, 29448),
 (1, 4595),
 (1, 14246),
 (1, 34175),
 (1, 18837),
 (1, 3587),
 (1, 11510),
 (1, 16498),
 (1, 26149),
 (1, 1256),
 (1, 39329),
 (1, 31874),
 (1, 885),
 (1, 8504),
 (1, 21668),
 (1, 31599),
 (1, 16261),
 (1, 36190),
 (1, 21249),
 (1, 29172),
 (1, 6079),
 (1, 35643),
 (1, 28164),
 (1, 3279),
 (1, 33152),
 (1, 41035),
 (1, 17982),
 (1, 25825),
 (1, 2900),
 (1, 10527),
 (1, 39021),
 (1, 23707),
 (1, 305),
 (1, 10212),
 (1, 38602),
 (1, 31019),
 (1, 8094),
 (1, 15937),
 (1, 20941),
 (1, 30640),
 (1, 5755),
 (1, 12939),
 (1, 17658),
 (1, 2320),
 (1, 12251),
 (1, 40489),
 (1, 17223),
 (1, 24842),
 (1, 2045),
 (1, 9632),
 (1, 38070),
 (1, 32663),
 (1, 15373),
 (1, 30332),
 (1, 5159),
 (1, 15082),
 (1, 36771),
 (1, 19673),
 (1, 4748),
 (1, 12663),
 (1, 34312),
 (1, 42227),
 (1, 26985),
 (1, 4060),
 (1, 11655),
 (1, 16643),
 (1, 26614),
 (1, 1465),
 (1, 9324),
 (1, 24552),
 (1, 32339),
 (1, 7174),
 (1, 22133),
 (1, 6883),
 (1, 14678),
 (1, 29317),
 (1, 4424),
 (1, 14131),
 (1, 34036),
 (1, 18786),
 (1, 28629),
 (1, 3480),
 (1, 41220),
 (1, 26034),
 (1, 10792),
 (1, 39230),
 (1, 24148),
 (1, 8373),
 (1, 31460),
 (1, 6319),
 (1, 16146),
 (1, 35883),
 (1, 21150),
 (1, 5940),
 (1, 13823),
 (1, 35504),
 (1, 20270),
 (1, 17803),
 (1, 2593),
 (1, 10388),
 (1, 40954),
 (1, 25307),
 (1, 10097),
 (1, 38471),
 (1, 30880),
 (1, 8043),
 (1, 20826),
 (1, 5616),
 (1, 15291),
 (1, 35196),
 (1, 19946),
 (1, 12800),
 (1, 34777),
 (1, 27194),
 (1, 2285),
 (1, 12112),
 (1, 40358),
 (1, 17116),
 (1, 24711),
 (1, 1866),
 (1, 9533),
 (1, 37891),
 (1, 7639),
 (1, 9114),
 (1, 37608),
 (1, 22278),
 (1, 30153),
 (1, 7100),
 (1, 14951),
 (1, 36664),
 (1, 19542),
 (1, 4633),
 (1, 34181),
 (1, 42056),
 (1, 18995),
 (1, 26854),
 (1, 3753),
 (1, 11548),
 (1, 40034),
 (1, 16536),
 (1, 1334),
 (1, 39631),
 (1, 24421),
 (1, 915),
 (1, 37204),
 (1, 21954),
 (1, 31669),
 (1, 6776),
 (1, 14371),
 (1, 21423),
 (1, 4293),
 (1, 18687),
 (1, 28322),
 (1, 3349),
 (1, 33326),
 (1, 41105),
 (1, 18244),
 (1, 25871),
 (1, 3058),
 (1, 10661),
 (1, 39051),
 (1, 23841),
 (1, 25492),
 (1, 607),
 (1, 8194),
 (1, 6180),
 (1, 16111),
 (1, 5761),
 (1, 13684),
 (1, 20155),
 (1, 13265),
 (1, 17664),
 (1, 2494),
 (1, 10337),
 (1, 40823),
 (1, 17389),
 (1, 25168),
 (1, 23114),
 (1, 30781),
 (1, 7904),
 (1, 15531),
 (1, 37817),
 (1, 20695),
 (1, 15152),
 (1, 35017),
 (1, 19815),
 (1, 4906),
 (1, 12701),
 (1, 42265),
 (1, 2170),
 (1, 11821),
 (1, 41958),
 (1, 16809),
 (1, 24604),
 (1, 1735),
 (1, 9354),
 (1, 39832),
 (1, 22582),
 (1, 32505),
 (1, 7340),
 (1, 37477),
 (1, 22163),
 (1, 30022),
 (1, 6921),
 (1, 14844),
 (1, 36533),
 (1, 4502),
 (1, 12377),
 (1, 34066),
 (1, 18824),
 (1, 3622),
 (1, 41378),
 (1, 16405),
 (1, 31909),
 (1, 872),
 (1, 8659),
 (1, 36897),
 (1, 21855),
 (1, 6645),
 (1, 16312),
 (1, 21284),
 (1, 29167),
 (1, 4178),
 (1, 13829),
 (1, 35806),
 (1, 18548),
 (1, 33211),
 (1, 41070),
 (1, 18129),
 (1, 25732),
 (1, 2895),
 (1, 10546),
 (1, 38912),
 (1, 23742),
 (1, 25441),
 (1, 468),
 (1, 10143),
 (1, 38637),
 (1, 23323),
 (1, 8113),
 (1, 15972),
 (1, 20960),
 (1, 30635),
 (1, 5662),
 (1, 13505),
 (1, 35226),
 (1, 27899),
 (1, 12974),
 (1, 32871),
 (1, 17565),
 (1, 27456),
 (1, 2315),
 (1, 17274),
 (1, 24877),
 (1, 1936),
 (1, 38057),
 (1, 22983),
 ...}

In [35]:
all_combos = _

In [36]:
len(all_combos)

29075

In [37]:
existing_combos = set((x,y) for [x,y] in df[['song_id', 'sampled_by_song_id']].values)

In [38]:
len(existing_combos)

48687

In [40]:
diff = all_combos - existing_combos

In [47]:
list(diff)

[(1, 37922),
 (1, 22872),
 (1, 32515),
 (1, 9145),
 (1, 37519),
 (1, 30184),
 (1, 5203),
 (1, 14854),
 (1, 19573),
 (1, 4664),
 (1, 12515),
 (1, 34212),
 (1, 42095),
 (1, 3912),
 (1, 41716),
 (1, 16575),
 (1, 26466),
 (1, 1493),
 (1, 24324),
 (1, 32207),
 (1, 946),
 (1, 37195),
 (1, 21985),
 (1, 29780),
 (1, 6687),
 (1, 36251),
 (1, 29233),
 (1, 13999),
 (1, 18590),
 (1, 3380),
 (1, 41136),
 (1, 25902),
 (1, 2961),
 (1, 10820),
 (1, 39082),
 (1, 24000),
 (1, 8225),
 (1, 38711),
 (1, 16014),
 (1, 21002),
 (1, 28925),
 (1, 5792),
 (1, 13675),
 (1, 20314),
 (1, 27917),
 (1, 17703),
 (1, 27626),
 (1, 2653),
 (1, 10240),
 (1, 40726),
 (1, 17292),
 (1, 25207),
 (1, 9965),
 (1, 15690),
 (1, 20726),
 (1, 30393),
 (1, 5484),
 (1, 15319),
 (1, 35048),
 (1, 5065),
 (1, 12732),
 (1, 34677),
 (1, 42296),
 (1, 19427),
 (1, 27222),
 (1, 2073),
 (1, 11980),
 (1, 40402),
 (1, 41861),
 (1, 1766),
 (1, 9385),
 (1, 39871),
 (1, 22741),
 (1, 7491),
 (1, 37380),
 (1, 30053),
 (1, 6952),
 (1, 14739),
 (1, 36692),
 (1, 29634),
 (1, 4533),
 (1, 12408),
 (1, 34097),
 (1, 18863),
 (1, 3781),
 (1, 11400),
 (1, 41537),
 (1, 16436),
 (1, 26367),
 (1, 1186),
 (1, 11029),
 (1, 24209),
 (1, 32068),
 (1, 783),
 (1, 37056),
 (1, 21886),
 (1, 14431),
 (1, 36112),
 (1, 21467),
 (1, 13860),
 (1, 35837),
 (1, 28382),
 (1, 3201),
 (1, 18160),
 (1, 25787),
 (1, 10705),
 (1, 38951),
 (1, 23901),
 (1, 459),
 (1, 10174),
 (1, 38540),
 (1, 23354),
 (1, 31213),
 (1, 6224),
 (1, 15899),
 (1, 20871),
 (1, 28746),
 (1, 5693),
 (1, 13536),
 (1, 20183),
 (1, 13133),
 (1, 32774),
 (1, 17596),
 (1, 2346),
 (1, 40675),
 (1, 17177),
 (1, 25036),
 (1, 38216),
 (1, 15559),
 (1, 20547),
 (1, 15020),
 (1, 34917),
 (1, 19603),
 (1, 4934),
 (1, 12553),
 (1, 34498),
 (1, 42165),
 (1, 19320),
 (1, 26915),
 (1, 11865),
 (1, 16837),
 (1, 26504),
 (1, 1651),
 (1, 39732),
 (1, 24482),
 (1, 32277),
 (1, 7384),
 (1, 37265),
 (1, 29938),
 (1, 14696),
 (1, 36385),
 (1, 29535),
 (1, 4354),
 (1, 14325),
 (1, 18724),
 (1, 28655),
 (1, 3666),
 (1, 33643),
 (1, 18305),
 (1, 26228),
 (1, 24174),
 (1, 31953),
 (1, 644),
 (1, 8527),
 (1, 21707),
 (1, 31422),
 (1, 6497),
 (1, 16340),
 (1, 21328),
 (1, 28955),
 (1, 6094),
 (1, 13745),
 (1, 20448),
 (1, 3102),
 (1, 33239),
 (1, 17997),
 (1, 25648),
 (1, 2811),
 (1, 10414),
 (1, 40892),
 (1, 25245),
 (1, 320),
 (1, 9995),
 (1, 31098),
 (1, 7981),
 (1, 15760),
 (1, 20764),
 (1, 5514),
 (1, 35126),
 (1, 19884),
 (1, 13018),
 (1, 34707),
 (1, 17417),
 (1, 27388),
 (1, 2215),
 (1, 12138),
 (1, 40568),
 (1, 24921),
 (1, 1804),
 (1, 38085),
 (1, 32550),
 (1, 7657),
 (1, 15452),
 (1, 37538),
 (1, 30083),
 (1, 5238),
 (1, 14905),
 (1, 19560),
 (1, 4819),
 (1, 34399),
 (1, 39972),
 (1, 16722),
 (1, 1480),
 (1, 24383),
 (1, 32226),
 (1, 7253),
 (1, 37230),
 (1, 21892),
 (1, 14565),
 (1, 36286),
 (1, 29396),
 (1, 4255),
 (1, 14146),
 (1, 18609),
 (1, 3375),
 (1, 41131),
 (1, 26049),
 (1, 2996),
 (1, 10879),
 (1, 24059),
 (1, 25518),
 (1, 8388),
 (1, 38698),
 (1, 31243),
 (1, 16033),
 (1, 21037),
 (1, 28816),
 (1, 5979),
 (1, 13582),
 (1, 35527),
 (1, 27936),
 (1, 13291),
 (1, 17882),
 (1, 27533),
 (1, 2672),
 (1, 10299),
 (1, 40713),
 (1, 25194),
 (1, 30967),
 (1, 7866),
 (1, 15725),
 (1, 20713),
 (1, 30556),
 (1, 5383),
 (1, 15306),
 (1, 34947),
 (1, 5100),
 (1, 12887),
 (1, 34664),
 (1, 42451),
 (1, 27209),
 (1, 2108),
 (1, 12007),
 (1, 40437),
 (1, 1689),
 (1, 37970),
 (1, 32435),
 (1, 7526),
 (1, 22357),
 (1, 29976),
 (1, 7107),
 (1, 14774),
 (1, 36687),
 (1, 4520),
 (1, 34260),
 (1, 3832),
 (1, 11427),
 (1, 16431),
 (1, 1349),
 (1, 24244),
 (1, 32127),
 (1, 8597),
 (1, 21777),
 (1, 6543),
 (1, 14450),
 (1, 29089),
 (1, 4116),
 (1, 14047),
 (1, 3236),
 (1, 33405),
 (1, 40992),
 (1, 25950),
 (1, 2817),
 (1, 10740),
 (1, 39130),
 (1, 23920),
 (1, 25403),
 (1, 8273),
 (1, 38567),
 (1, 23517),
 (1, 15934),
 (1, 20922),
 (1, 28781),
 (1, 5840),
 (1, 20170),
 (1, 13152),
 (1, 32825),
 (1, 17751),
 (1, 2509),
 (1, 40582),
 (1, 17212),
 (1, 25063),
 (1, 1962),
 (1, 38243),
 (1, 30796),
 (1, 15610),
 (1, 37832),
 (1, 20582),
 (1, 30249),
 (1, 5276),
 (1, 15175),
 (1, 19638),
 (1, 4985),
 (1, 12588),
 (1, 19219),
 (1, 27078),
 (1, 3977),
 (1, 11900),
 (1, 40258),
 (1, 16888),
 (1, 1558),
 (1, 9433),
 (1, 22597),
 (1, 37300),
 (1, 22050),
 (1, 14595),
 (1, 36548),
 (1, 29554),
 (1, 4389),
 (1, 14312),
 (1, 18911),
 (1, 28546),
 (1, 3701),
 (1, 33550),
 (1, 26223),
 (1, 1234),
 (1, 10885),
 (1, 31988),
 (1, 703),
 (1, 21742),
 (1, 16335),
 (1, 35968),
 (1, 21323),
 (1, 6113),
 (1, 35693),
 (1, 20379),
 (1, 3121),
 (1, 33226),
 (1, 18016),
 (1, 25643),
 (1, 2718),
 (1, 10561),
 (1, 38999),
 (1, 23757),
 (1, 25264),
 (1, 38460),
 (1, 31005),
 (1, 8128),
 (1, 15755),
 (1, 20791),
 (1, 30714),
 (1, 5549),
 (1, 35113),
 (1, 27658),
 (1, 13053),
 (1, 17452),
 (1, 27287),
 (1, 40467),
 (1, 24956),
 (1, 38136),
 (1, 7564),
 (1, 15479),
 (1, 37701),
 (1, 22515),
 (1, 30118),
 (1, 5225),
 (1, 15068),
 (1, 36757),
 (1, 19459),
 (1, 4854),
 (1, 34418),
 (1, 42021),
 (1, 26963),
 (1, 3846),
 (1, 11721),
 (1, 41602),
 (1, 16757),
 (1, 26424),
 (1, 1507),
 (1, 39588),
 (1, 24530),
 (1, 32133),
 (1, 7240),
 (1, 21951),
 (1, 29794),
 (1, 6869),
 (1, 36433),
 (1, 29391),
 (1, 4274),
 (1, 14181),
 (1, 18772),
 (1, 28447),
 (1, 3522),
 (1, 33435),
 (1, 41294),
 (1, 18225),
 (1, 26084),
 (1, 2991),
 (1, 10770),
 (1, 39264),
 (1, 23966),
 (1, 31809),
 (1, 8447),
 (1, 38861),
 (1, 21627),
 (1, 31278),
 (1, 6289),
 (1, 16196),
 (1, 35869),
 (1, 28811),
 (1, 6014),
 (1, 35578),
 (1, 20240),
 (1, 13198),
 (1, 33095),
 (1, 17917),
 (1, 2667),
 (1, 10462),
 (1, 40748),
 (1, 23642),
 (1, 25101),
 (1, 38281),
 (1, 30954),
 (1, 8029),
 (1, 15616),
 (1, 20620),
 (1, 30583),
 (1, 5434),
 (1, 15341),
 (1, 19932),
 (1, 4999),
 (1, 12874),
 (1, 19385),
 (1, 27244),
 (1, 2263),
 (1, 11930),
 (1, 40424),
 (1, 16902),
 (1, 24777),
 (1, 1724),
 (1, 9575),
 (1, 38005),
 (1, 7449),
 (1, 9164),
 (1, 37586),
 (1, 22344),
 (1, 30003),
 (1, 7142),
 (1, 14761),
 (1, 4675),
 (1, 19045),
 (1, 3731),
 (1, 11590),
 (1, 41503),
 (1, 16578),
 (1, 26293),
 (1, 1400),
 (1, 39473),
 (1, 24239),
 (1, 32018),
 (1, 965),
 (1, 8584),
 (1, 37022),
 (1, 21812),
 (1, 31743),
 (1, 14357),
 (1, 29252),
 (1, 4111),
 (1, 14066),
 (1, 35723),
 (1, 3423),
 (1, 41179),
 (1, 25969),
 (1, 2852),
 (1, 10735),
 (1, 39165),
 (1, 23915),
 (1, 8308),
 (1, 38746),
 (1, 23536),
 (1, 31163),
 (1, 16081),
 (1, 28672),
 (1, 5835),
 (1, 13502),
 (1, 35447),
 (1, 13083),
 (1, 32988),
 (1, 42631),
 (1, 17738),
 (1, 27453),
 (1, 2528),
 (1, 12203),
 (1, 24986),
 (1, 77),
 (1, 30823),
 (1, 7722),
 (1, 20505),
 (1, 30412),
 (1, 5303),
 (1, 15226),
 (1, 34867),
 (1, 19625),
 (1, 4892),
 (1, 12743),
 (1, 34456),
 (1, 19254),
 (1, 27129),
 (1, 4012),
 (1, 11799),
 (1, 40293),
 (1, 16787),
 (1, 1545),
 (1, 39874),
 (1, 22648),
 (1, 32291),
 (1, 9049),
 (1, 22213),
 (1, 29832),
 (1, 7027),
 (1, 14630),
 (1, 36607),
 (1, 29461),
 (1, 4568),
 (1, 14211),
 (1, 34116),
 (1, 18930),
 (1, 3688),
 (1, 11475),
 (1, 41364),
 (1, 16479),
 (1, 26114),
 (1, 1269),
 (1, 24100),
 (1, 31983),
 (1, 850),
 (1, 8453),
 (1, 21633),
 (1, 31604),
 (1, 36027),
 (1, 21358),
 (1, 6020),
 (1, 13903),
 (1, 20414),
 (1, 3284),
 (1, 41040),
 (1, 17947),
 (1, 25806),
 (1, 2737),
 (1, 38986),
 (1, 23776),
 (1, 25259),
 (1, 10177),
 (1, 38615),
 (1, 31024),
 (1, 8187),
 (1, 15790),
 (1, 20778),
 (1, 30621),
 (1, 5696),
 (1, 35276),
 (1, 27274),
 (1, 2429),
 (1, 12064),
 (1, 40502),
 (1, 24855),
 (1, 2010),
 (1, 38035),
 (1, 22793),
 (1, 32764),
 (1, 7591),
 (1, 15466),
 (1, 30297),
 (1, 5132),
 (1, 15095),
 (1, 36744),
 (1, 19494),
 (1, 4841),
 (1, 34325),
 (1, 19075),
 (1, 11756),
 (1, 16744),
 (1, 26579),
 (1, 1414),
 (1, 9289),
 (1, 7267),
 (1, 8918),
 (1, 22098),
 (1, 29701),
 (1, 6856),
 (1, 14515),
 (1, 36468),
 (1, 29410),
 (1, 4437),
 (1, 14104),
 (1, 18767),
 (1, 33470),
 (1, 41313),
 (1, 26015),
 (1, 1090),
 (1, 10805),
 (1, 8338),
 (1, 21534),
 (1, 6324),
 (1, 16255),
 (1, 35888),
 (1, 21243),
 (1, 5905),
 (1, 13764),
 (1, 35485),
 (1, 20235),
 (1, 13217),
 (1, 33146),
 (1, 17808),
 (1, 25691),
 (1, 2574),
 (1, 40903),
 (1, 23677),
 (1, 25120),
 (1, 10078),
 (1, 30861),
 (1, 8048),
 (1, 15675),
 (1, 20647),
 (1, 30570),
 (1, 5597),
 (1, 15232),
 (1, 35161),
 (1, 19959),
 (1, 12909),
 (1, 34598),
 (1, 42473),
 (1, 17500),
 (1, 27143),
 (1, 2250),
 (1, 11965),
 (1, 40323),
 (1, 24812),
 (1, 1879),
 (1, 9498),
 (1, 37992),
 (1, 22662),
 (1, 7484),
 (1, 9191),
 (1, 22371),
 (1, 30166),
 (1, 14924),
 (1, 36613),
 (1, 29619),
 (1, 4710),
 (1, 12329),
 (1, 42069),
 (1, 18968),
 (1, 41522),
 (1, 16613),
 (1, 26280),
 (1, 1299),
 (1, 39636),
 (1, 37041),
 (1, 21807),
 (1, 31634),
 (1, 6725),
 (1, 14344),
 (1, 36289),
 (1, 21428),
 (1, 4130),
 (1, 18628),
 (1, 3442),
 (1, 33291),
 (1, 41214),
 (1, 25876),
 (1, 39056),
 (1, 23822),
 (1, 25585),
 (1, 8303),
 (1, 38781),
 (1, 23531),
 (1, 31326),
 (1, 16116),
 (1, 28731),
 (1, 5870),
 (1, 13649),
 (1, 13118),
 (1, 33015),
 (1, 17773),
 (1, 27600),
 (1, 2459),
 (1, 40796),
 (1, 17354),
 (1, 25021),
 (1, 38201),
 (1, 30746),
 (1, 7885),
 (1, 15536),
 (1, 37766),
 (1, 20540),
 (1, 30439),
 (1, 5290),
 (1, 15133),
 (1, 4919),
 (1, 12794),
 (1, 42342),
 (1, 19241),
 (1, 2119),
 (1, 11786),
 (1, 16822),
 (1, 24697),
 (1, 1580),
 (1, 9367),
 (1, 32454),
 (1, 7305),
 (1, 9084),
 (1, 37442),
 (1, 22264),
 (1, 14809),
 (1, 29448),
 (1, 4595),
 (1, 14246),
 (1, 34175),
 (1, 18837),
 (1, 3587),
 (1, 11510),
 (1, 16498),
 (1, 26149),
 (1, 1256),
 (1, 39329),
 (1, 31874),
 (1, 885),
 (1, 8504),
 (1, 21668),
 (1, 31599),
 (1, 16261),
 (1, 36190),
 (1, 21249),
 (1, 29172),
 (1, 6079),
 (1, 35643),
 (1, 28164),
 (1, 3279),
 (1, 33152),
 (1, 41035),
 (1, 17982),
 (1, 25825),
 (1, 2900),
 (1, 10527),
 (1, 39021),
 (1, 23707),
 (1, 10212),
 (1, 38602),
 (1, 31019),
 (1, 8094),
 (1, 15937),
 (1, 20941),
 (1, 30640),
 (1, 5755),
 (1, 12939),
 (1, 17658),
 (1, 2320),
 (1, 12251),
 (1, 40489),
 (1, 17223),
 (1, 24842),
 (1, 2045),
 (1, 9632),
 (1, 38070),
 (1, 32663),
 (1, 15373),
 (1, 30332),
 (1, 5159),
 (1, 15082),
 (1, 36771),
 (1, 19673),
 (1, 4748),
 (1, 12663),
 (1, 34312),
 (1, 42227),
 (1, 26985),
 (1, 4060),
 (1, 11655),
 (1, 16643),
 (1, 26614),
 (1, 1465),
 (1, 9324),
 (1, 24552),
 (1, 32339),
 (1, 7174),
 (1, 22133),
 (1, 6883),
 (1, 14678),
 (1, 29317),
 (1, 4424),
 (1, 14131),
 (1, 34036),
 (1, 18786),
 (1, 28629),
 (1, 3480),
 (1, 41220),
 (1, 26034),
 (1, 10792),
 (1, 39230),
 (1, 24148),
 (1, 8373),
 (1, 31460),
 (1, 6319),
 (1, 16146),
 (1, 35883),
 (1, 21150),
 (1, 5940),
 (1, 13823),
 (1, 35504),
 (1, 20270),
 (1, 17803),
 (1, 2593),
 (1, 10388),
 (1, 40954),
 (1, 25307),
 (1, 10097),
 (1, 38471),
 (1, 30880),
 (1, 8043),
 (1, 20826),
 (1, 5616),
 (1, 15291),
 (1, 35196),
 (1, 19946),
 (1, 12800),
 (1, 34777),
 (1, 27194),
 (1, 2285),
 (1, 12112),
 (1, 40358),
 (1, 17116),
 (1, 24711),
 (1, 1866),
 (1, 9533),
 (1, 37891),
 (1, 7639),
 (1, 9114),
 (1, 37608),
 (1, 22278),
 (1, 30153),
 (1, 7100),
 (1, 14951),
 (1, 36664),
 (1, 19542),
 (1, 4633),
 (1, 34181),
 (1, 42056),
 (1, 18995),
 (1, 26854),
 (1, 3753),
 (1, 11548),
 (1, 40034),
 (1, 16536),
 (1, 1334),
 (1, 39631),
 (1, 24421),
 (1, 915),
 (1, 37204),
 (1, 21954),
 (1, 31669),
 (1, 6776),
 (1, 14371),
 (1, 21423),
 (1, 4293),
 (1, 18687),
 (1, 28322),
 (1, 3349),
 (1, 33326),
 (1, 41105),
 (1, 18244),
 (1, 25871),
 (1, 3058),
 (1, 10661),
 (1, 39051),
 (1, 23841),
 (1, 25492),
 (1, 607),
 (1, 8194),
 (1, 6180),
 (1, 16111),
 (1, 5761),
 (1, 13684),
 (1, 20155),
 (1, 13265),
 (1, 17664),
 (1, 2494),
 (1, 10337),
 (1, 40823),
 (1, 17389),
 (1, 25168),
 (1, 23114),
 (1, 30781),
 (1, 7904),
 (1, 15531),
 (1, 37817),
 (1, 20695),
 (1, 15152),
 (1, 35017),
 (1, 19815),
 (1, 4906),
 (1, 12701),
 (1, 42265),
 (1, 2170),
 (1, 11821),
 (1, 41958),
 (1, 16809),
 (1, 24604),
 (1, 1735),
 (1, 9354),
 (1, 39832),
 (1, 22582),
 (1, 32505),
 (1, 7340),
 (1, 37477),
 (1, 22163),
 (1, 30022),
 (1, 6921),
 (1, 14844),
 (1, 36533),
 (1, 4502),
 (1, 12377),
 (1, 34066),
 (1, 18824),
 (1, 3622),
 (1, 41378),
 (1, 16405),
 (1, 31909),
 (1, 872),
 (1, 8659),
 (1, 36897),
 (1, 21855),
 (1, 6645),
 (1, 16312),
 (1, 21284),
 (1, 29167),
 (1, 4178),
 (1, 13829),
 (1, 35806),
 (1, 18548),
 (1, 33211),
 (1, 41070),
 (1, 18129),
 (1, 25732),
 (1, 2895),
 (1, 10546),
 (1, 38912),
 (1, 23742),
 (1, 25441),
 (1, 10143),
 (1, 38637),
 (1, 23323),
 (1, 8113),
 (1, 15972),
 (1, 20960),
 (1, 30635),
 (1, 5662),
 (1, 13505),
 (1, 35226),
 (1, 27899),
 (1, 12974),
 (1, 32871),
 (1, 17565),
 (1, 27456),
 (1, 2315),
 (1, 17274),
 (1, 24877),
 (1, 1936),
 (1, 38057),
 (1, 22983),
 (1, 32650),
 (1, 7805),
 (1, 15392),
 (1, 37686),
 (1, 30231),
 (1, 5338),
 (1, 34886),
 (1, 4775),
 (1, 42134),
 (1, 19289),
 ...]

In [58]:
sr.generate_negative_targets(test, 'song_id', 'sampled_by_song_id', 'is_connected', get_all=True)

ValueError: cannot insert level_0, already exists

In [56]:
(1,2) + (0,)

(1, 2, 0)

In [59]:
train.limit(5).show()

+-------+------------------+------------+
|song_id|sampled_by_song_id|is_connected|
+-------+------------------+------------+
|      1|               273|           1|
|      1|               275|           1|
|      1|               277|           1|
|      1|               278|           1|
|      1|               279|           1|
+-------+------------------+------------+

In [60]:
pd.concat()

       song_id  sampled_by_song_id  is_connected
0            1                 273             1
1            1                 275             1
2            1                 277             1
3            1                 278             1
4            1                 279             1
5            1                 282             1
6            1                 283             1
7            1                 284             1
8            1                 285             1
9            1                 286             1
10           1                 287             1
11           1                 288             1
12           1                 290             1
13           1                 291             1
14           1                 292             1
15           1                 293             1
16           1                 294             1
17           1                 296             1
18           1                 297             1
19           1                 298             1
20           1                 299             1
21           1                 300             1
22           1                 302             1
23           1                 303             1
24           1                 304             1
25           1                 305             1
26           1                 306             1
27           1                 307             1
28           1                 309             1
29           1                 310             1
...        ...                 ...           ...
48657    42835               42287             1
48658    42836               42288             1
48659    42837               42288             1
48660    42839               42289             1
48661    42840               42289             1
48662    42843               42291             1
48663    42844               42292             1
48664    42844               42331             1
48665    42846               42295             1
48666    42847               42296             1
48667    42848               42297             1
48668    42849               42299             1
48669    42850               42301             1
48670    42851               42302             1
48671    42854               42306             1
48672    42857               42312             1
48673    42859               42315             1
48674    42861               42318             1
48675    42865               42322             1
48676    42867               42324             1
48677    42868               42325             1
48678    42870               42328             1
48679    42871               42328             1
48680    42872               42330             1
48681    42873               42333             1
48682    42874               42335             1
48683    42875               42336             1
48684    42876               42338             1
48685    42877               42342             1
48686    42879               42346             1

[48687 rows x 3 columns]