In [330]:
import pandas as pd
import numpy as np
import pyspark as ps
from pyspark.sql import SparkSession
from pyspark.sql.types import (
    IntegerType, StringType, IntegerType, FloatType, 
    StructField, StructType, DoubleType
)
from pyspark.ml.recommendation import ALS
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from pyspark.sql.functions import udf, col, isnan
import psycopg2
from pandas.io import sql
from sklearn.model_selection import train_test_split
from pyspark.ml.evaluation import RegressionEvaluator

In [331]:
conn = psycopg2.connect(dbname='mixmaker', host='localhost')
cur = conn.cursor()

In [332]:
query = 'SELECT * FROM artists;'
artists = sql.read_sql_query(query, conn)

In [333]:
artists.head()

,id,name,url,scraped
0,12,Lyn Collins,https://www.whosampled.com/Lyn-Collins/,0
1,13,Isaac Hayes,https://www.whosampled.com/Isaac-Hayes/,0
2,14,KC & the Sunshine Band,https://www.whosampled.com/KC-%26-the-Sunshine...,0
3,15,Stevie Wonder,https://www.whosampled.com/Stevie-Wonder/,0
4,16,"Earth, Wind & Fire","https://www.whosampled.com/Earth,-Wind-%26-Fire/",0

In [334]:
query = 'SELECT * FROM songs;'
songs = sql.read_sql_query(query, conn)

In [335]:
len(songs)

21669

In [336]:
query = 'SELECT * FROM connections;'
connections = sql.read_sql_query(query, conn)

In [337]:
connections = connections.drop('remixed_by_song_id', axis=1)

In [338]:
connections['is_connected'] = np.ones(len(connections))

In [339]:
connections.head()

   song_id  sampled_by_song_id  is_connected
0        1                 374           1.0
1        1                 375           1.0
2        1                 376           1.0
3        1                 377           1.0
4        1                 378           1.0

In [340]:
spark_df = spark.createDataFrame(connections)

In [341]:
train, test = spark_df.randomSplit([0.8, 0.2], seed=216)

In [342]:
als_model = ALS(
    itemCol='song_id',
    userCol='sampled_by_song_id',
    ratingCol='is_connected',
    nonnegative=True,
    regParam=0.01,
    rank=10,
    implicitPrefs=True)

recommender = als_model.fit(train)

test_predictions = recommender.transform(test)

In [122]:
test_predictions.show()

+-------+------------------+------------+------------+
|song_id|sampled_by_song_id|is_connected|  prediction|
+-------+------------------+------------+------------+
|    463|              9170|         1.0|         NaN|
|    471|              9896|         1.0| 7.016704E-7|
|    471|              9170|         1.0|4.4592525E-6|
|  13285|             14299|         1.0|         NaN|
|  14570|             14987|         1.0|0.0026822868|
|    392|              9170|         1.0|         0.0|
|  11280|             11800|         1.0|         NaN|
|  11280|             11713|         1.0|         NaN|
|  11280|             11835|         1.0|  0.01750579|
|  11280|             11808|         1.0|         NaN|
|  11280|             11694|         1.0|         NaN|
|  11280|             11736|         1.0|         NaN|
|  11280|             11717|         1.0|         NaN|
|  11280|              1125|         1.0|         NaN|
|  11280|             11764|         1.0|         NaN|
|  11280|             11805|         1.0|         NaN|
|  11280|             11718|         1.0|         NaN|
|  11280|             11659|         1.0|         0.0|
|  11280|             11771|         1.0|         NaN|
|  11280|             11752|         1.0|         NaN|
+-------+------------------+------------+------------+
only showing top 20 rows

In [68]:
preds_df = test_predictins.toPandas()

In [69]:
preds_df.head()

   song_id  sampled_by_song_id  is_connected  prediction
0      463                9170           1.0         NaN
1      471                9896           1.0    0.609067
2      471                9170           1.0    0.505995
3    13285               14299           1.0         NaN
4    14570               14987           1.0    0.610512

In [70]:
check = preds_df.sort_values('prediction', ascending=False).head(10)

In [78]:
lookup_id = 612
lookup_df = preds_df.loc[preds_df['sampled_by_song_id']==lookup_id,:]

In [79]:
lookup_df.sort_values('prediction', ascending=False).head()

      song_id  sampled_by_song_id  is_connected  prediction
262        28                 612           1.0    1.257137
841      9152                 612           1.0    1.076854
3387       83                 612           1.0    1.069884
3492       42                 612           1.0    1.061826
1655       20                 612           1.0    1.035928

In [80]:
songs[songs['name'] == 'All Night']

,id,artist_id,name,url,scraped
2188,2214,1324,All Night,https://www.whosampled.com/Milira/All-Night,0
4535,4563,2758,All Night,https://www.whosampled.com/Maurice-Tamraz/All-...,0
13413,13428,4207,All Night,https://www.whosampled.com/Angelo-Ferreri/All-...,0
15351,15368,6788,All Night,https://www.whosampled.com/Luxury-Elite/All-Night,0
15366,15383,6798,All Night,https://www.whosampled.com/Cinque/All-Night,0

In [92]:
artists.loc[artists['name'].apply(lambda x: x.startswith('Beyonc'))]

        id     name                                       url  scraped
6907  6908  Beyoncé  https://www.whosampled.com/Beyonc%C3%A9/        0

In [93]:
songs[songs['artist_id'] == 6908]

,id,artist_id,name,url,scraped
15559,15579,6908,Black Culture,https://www.whosampled.com/Beyonc%C3%A9/Black-...,0

In [71]:
preds_df.sort_values('prediction', ascending=False).head(10)

      song_id  sampled_by_song_id  is_connected  prediction
3908      134                 421           1.0    1.293696
2993     9774                4652           1.0    1.288245
112        65                1471           1.0    1.280834
2851       82                4064           1.0    1.276294
2149        9                 627           1.0    1.264793
262        28                 612           1.0    1.257137
90         31                2830           1.0    1.254280
1748      120                3331           1.0    1.212860
222        34                2599           1.0    1.210035
110        65                2297           1.0    1.203673

In [103]:
lookup_id = 627
lookup_df = preds_df.loc[preds_df['sampled_by_song_id']==lookup_id,:]
songs[songs['id'] == lookup_id]

,id,artist_id,name,url,scraped
601,627,251,Keep on Doin',https://www.whosampled.com/Kev-E-Kev/Keep-on-D...,0

In [348]:
als_model = ALS(
    itemCol='song_id',
    userCol='sampled_by_song_id',
    ratingCol='is_connected',
    nonnegative=True,
    regParam=0.01,
    rank=50)

recommender = als_model.fit(train)

In [349]:
train_preds = recommender.transform(train)

In [350]:
evaluator = RegressionEvaluator(metricName='rmse', 
                                labelCol='is_connected',
                                predictionCol='prediction')

In [351]:
rmse_train = evaluator.evaluate(train_preds)

In [352]:
rmse_train

0.015280206315393514

In [163]:
rmse = evaluator.evaluate(test_predictions)

In [164]:
test_predictions = recommender.transform(test)

In [165]:
rmse_test = evaluator.evaluate(
    test_predictions.filter("prediction + 1 > prediction"))

In [166]:
rmse_test

0.2810005494691985

In [176]:
# randomly generate test data with 0's
df = test.toPandas()

In [177]:
df.head()

   song_id  sampled_by_song_id  is_connected
0        1                 374           1.0
1        1                 376           1.0
2        1                 378           1.0
3        1                 382           1.0
4        1                 383           1.0

In [182]:
len(df.loc[(df['song_id'] == 1) & (df['sampled_by_song_id'] == 374),:])

1

In [185]:
df['song_id'].unique()

array([    1,     2,     3,     4,     5,     6,     8,     9,    10,
          11,    12,    13,    14,    15,    16,    17,    18,    19,
          20,    21,    22,    23,    25,    26,    28,    29,    30,
          31,    32,    33,    34,    35,    36,    37,    38,    39,
          40,    41,    42,    43,    44,    45,    46,    47,    48,
          49,    50,    51,    52,    53,    54,    55,    57,    58,
          60,    61,    62,    63,    64,    65,    66,    67,    68,
          69,    70,    71,    73,    74,    75,    76,    77,    78,
          79,    81,    82,    83,    84,    85,    86,    87,    88,
          89,    91,    94,    95,    96,    97,    98,    99,   101,
         102,   104,   109,   111,   113,   115,   117,   118,   119,
         120,   121,   122,   124,   127,   128,   130,   131,   132,
         134,   138,   139,   140,   141,   142,   145,   146,   151,
         156,   157,   158,   159,   163,   164,   166,   168,   173,
         176,   178,   183,   185,   187,   188,   189,   192,   195,
         200,   201,   202,   204,   205,   207,   214,   216,   218,
         220,   221,   224,   235,   244,   245,   246,   247,   248,
         250,   252,   254,   256,   277,   278,   279,   282,   298,
         302,   307,   315,   320,   340,   343,   374,   375,   377,
         378,   380,   384,   385,   386,   387,   388,   389,   390,
         392,   396,   398,   399,   401,   403,   404,   406,   407,
         409,   410,   411,   412,   414,   416,   417,   418,   421,
         422,   428,   429,   430,   432,   434,   436,   437,   438,
         439,   440,   443,   446,   447,   448,   449,   451,   452,
         454,   458,   459,   460,   461,   462,   463,   468,   471,
         473,   474,   478,  5331,  7976,  9262,  9691,  9767,  9768,
        9769,  9770,  9771,  9772,  9773,  9774,  9776,  9777,  9778,
        9779,  9780,  9781,  9782,  9783,  9784,  9786,  9787,  9788,
        9789,  9790,  9792,  9793,  9794,  9795,  9797,  9800,  9801,
        9802,  9804,  9805,  9806,  9807,  9809,  9810,  9812,  9813,
        9816,  9818,  9819,  9820,  9821,  9822,  9823,  9824,  9825,
        9826,  9827,  9828,  9829,  9836,  9837,  9838,  9839,  9840,
        9846,  9847,  9849,  9952,  9991, 10010, 11279, 11280, 11281,
       11283, 11284, 11285, 11286,   864,  3507,  4275,  9152,  9685,
        9686,  9687,  9968, 10009, 11288, 11290, 11291, 11292, 11293,
       11295, 11296, 11297, 11300, 11301, 11302, 11304, 11307, 11308,
       11311, 11312, 11313, 11316, 11322, 11323, 11326, 11330, 11340,
       11341, 11343, 11350, 11356, 11363, 11364, 11528, 12160, 12161,
       12163, 12164, 12165, 12166, 12167, 12168, 12169, 12170, 12171,
       12172, 12173, 12174, 12175, 12177, 12178, 12179, 12181, 12182,
       12183, 12185, 12186, 12188, 12190, 12191, 12192, 12193, 12195,
       12197, 12198, 12202, 12204, 12205, 12206, 12207, 12208, 12210,
       12211, 12212, 12213, 12217, 12218, 12220, 12222, 12224, 12225,
       12226, 12228, 12230, 12232, 12233, 12237, 12238, 12242, 12245,
       12246, 12251, 12254, 12255, 12257, 12265, 12268, 12269, 12272,
       12281, 12283, 12284, 12287, 12289, 12290, 12291, 12295, 12298,
       12302, 12303, 12315, 12316, 12318, 12322, 12329, 12332, 12337,
       12343, 12353, 12362, 12367, 12374, 12378, 12384, 12395, 12397,
       12403, 12404, 12410, 12418, 12420, 12443, 12478, 13185, 13186,
       13187, 13189, 13192, 13193, 13196, 13197, 13198, 13199, 13200,
       13201, 13202, 13203, 13204, 13206, 13207, 13208, 13209, 13210,
       13211, 13212, 13213, 13214, 13215, 13216, 13217, 13219, 13221,
       13222, 13223, 13224, 13227, 13231, 13232, 13233, 13234, 13235,
       13237, 13238, 13244, 13246, 13248, 13251, 13253, 13256, 13262,
       13273, 13274, 13275, 13277, 13285, 13295, 13301, 13308, 13324,
       13349, 14347, 14348, 14349, 14350, 14351, 14352, 14353, 14354,
       14355, 14356, 14358, 14359, 14360, 14361, 14362, 14363, 14364,
       14365, 14366, 14367, 14368, 14369, 14371, 14373, 14375, 14377,
       14380, 14382, 14384, 14385, 14390, 14391, 14392, 14394, 14395,
       14396, 14397, 14399, 14400, 14401, 14403, 14405, 14409, 14410,
       14413, 14414, 14415, 14417, 14418, 14420, 14429, 14430, 14432,
       14436, 14437, 14438, 14441, 14442, 14443, 14445, 14452, 14453,
       14455, 14456, 14459, 14461, 14466, 14471, 14475, 14481, 14487,
       14492, 14495, 14512, 14517, 14524, 14534, 14535, 14549, 14551,
       14560, 14570, 14573, 14575, 14578, 14586, 14592, 14593, 14622,
       14626, 14644, 14653, 14661, 14664, 14673, 14688, 14693, 14722,
       14728, 14768])

In [188]:
id1 = np.random.choice(df['song_id'].unique())
id2 = np.random.choice(df['sampled_by_song_id'].unique())

In [189]:
id1, id2

(864, 1984)

In [190]:
len(df.loc[(df['song_id'] == id1) & (df['sampled_by_song_id'] == id2),:])

0

In [ ]:
if len(df.loc[(df['song_id'] == id1)
            & (df['sampled_by_song_id'] == id2),:]) == 0:
    pd.

In [194]:
test_predictions.persist().count()

3967

In [203]:
song_id_df = test_predictions.select('song_id').toPandas()

In [205]:
song_id_df['song_id'].unique()

array([  463,   471, 13285, 14570,   392, 11280, 11316, 12367,    31,
       13207, 14377, 14420,    85,   451,    65,   458, 12210, 12284,
       12322,    53, 12207, 14365,    78, 12238, 12315, 13214, 14437,
         375,  9968, 12169, 12182, 12384,    34, 12179,   101,   115,
       12362, 14410,    81,   385, 11286, 12287,    28,   183,   436,
        9781, 14367, 12269,   406,   412, 12191, 14455,  9687, 13301,
          76,  9771, 14644,    26, 12329,   384, 12298, 12337, 12404,
       14375, 14391,    44,   159,   192,  9787, 12192, 11326,   460,
        9840, 10010, 11308,    12,  9824, 14575,  9825,   388,   417,
       12232, 13248,    91,   409, 14351,  9783, 11350, 14364, 13219,
          22,   128, 13295, 14415,   122, 12170, 13275, 14436, 14453,
         157,  9769, 12165,   246,  9847, 11311, 12193, 14534,   111,
         224,    47,   140,   416,   132,  9782,   185, 14354,   386,
       11330, 12168,   473, 12316,   146, 12167, 14349, 12190, 14417,
           1, 12186, 13251, 14350, 14445,    52, 14347, 14355, 12295,
        9152,    13,   218,   440,  9991, 14495,     6,    16,    86,
         474,   168,   205,  9801, 14396,     3,   142,   178, 12166,
       13213,    20,    40,   164,   429, 12237, 13193, 14475,   139,
       14363,   340,  9776,  9827,    94,   250,   377,   432,  9813,
       14403,    57, 11291, 11297, 12374, 13215, 14524,  9846,  9816,
       14353,    54,   120, 11364, 12230, 12291, 12332, 13216, 14382,
          96,   235,  9691,  9779,   452, 12257, 13256,    48, 12175,
       12290,     5,   163,   279, 14586, 12353, 13199,    19,   430,
        9794,  9822, 11283, 11304, 13221, 14399, 14535, 14551, 14414,
          64,   117, 13206, 14385,  9768,    41, 12172,   447,  9839,
       11343, 13210,    15,    43,  9790, 12226, 12395, 12161, 13200,
       14359, 14578,  9805, 12173,  9780, 12195, 14429, 14452,  9789,
        9820, 12420, 14348, 14430,   189,   207,    37,  9784, 11307,
          61,   127,   461, 12174, 12265,    88,   462,   202,   374,
        9807, 13349,     9,    17, 11356, 12410, 13224, 11296,   398,
       12318, 13235, 12245, 12281, 14360,   387, 11363, 12242, 12212,
          35, 11301, 12303, 14512,  5331, 11284, 12163, 13186, 13233,
       13238,   437,  9812, 14573, 12228, 12418,   307, 11341, 12378,
       14395,   173,   220,   278,  9792,     4,    55, 12198, 12478,
           8,   449,  9806, 10009, 12197, 14392,    23,    39, 13237,
       13244, 14768,    49,   176,   380,  9767,  9836, 12251,   130,
         244,   446,    84, 14722,   247, 14471,    87, 14394,   343,
         434,   439,   443,    51,   277,   428, 12343,   438, 13187,
       13204,    69,   166,   448,    97,  9828, 12225,  9262,  9819,
       11281, 11288, 13234, 14661,   389, 12246, 14362, 14443,    63,
        7976, 13189, 14442,   403, 11528, 12178,   459,  9778, 14653,
          10,    77,   102,  9686,  9821, 12302, 14369,    50,  9793,
         404, 12171,    45,  9804, 11279, 13208, 14492,   216, 14438,
       14673,    38,   320,   418,    82,  9685, 12224, 14373, 11300,
       13222, 11295, 13198, 14441,    25,    73,   245,  9837, 12218,
       13223,   113,  9800, 12268,  9829, 12283, 13274,    70, 14397,
          62,   121,   396, 12397,   156, 13185, 14371, 14390, 14459,
          95,   411,  9774, 14368,    29,   390, 13253, 12208,    21,
         214, 13196, 13246, 14366,    98,   195,   256,  3507,  4275,
       12217,  9809, 12443, 14352, 14549,    32,    60,  9786, 11290,
          75,  9952, 14626,   221,  9802, 13201, 14356, 14400,   141,
         151,   414, 11293, 12272, 13211, 13212, 14560,   145,   200,
       11313, 12403, 13227, 14358,   109,   254,   378, 11285, 11323,
         478, 13209, 14405, 12254, 14664,   298, 12204, 12211,    58,
         188, 14487,    11,    33,   204,   421,    83,    68,    71,
        9838, 11312, 12220, 12222, 14688, 12202, 13217, 14517,    14,
        9770,  9777, 13231, 13324,   454,  9810,   158,  9797,  9849,
       13197,   248,  9823, 14456,    42,   119,  9772,  9818,  9826,
       14380,     2,    79,   201, 12289, 14481,   131, 14401, 12183,
         118,   124, 14622,    30,    99, 11322, 12185, 12233,   302,
        9773, 11302, 12181, 13202,    66, 13308, 14466,    46,    67,
         282, 13273, 14728, 13277, 14409, 14432,   410, 12188, 14361,
         864, 14384, 14418,   252,   399, 14413,  9788, 12164, 12255,
       13192, 14693,    18,  9795, 12177, 13232, 14593,    74,   138,
       11340, 12206, 13203, 14461,   104,   468,   134,   407, 13262,
       14592, 12213,    36,   187,   315, 12205,    89,   401,   422,
       11292, 12160])

In [196]:
test_predictions.select('sampled_by_song_id').distinct().count()

3613

In [206]:
a = [(5,6), (2,3)]

In [207]:
pd.DataFrame(a)

   0  1
0  5  6
1  2  3

In [213]:
test_predictions.persist().count()

3967

In [214]:
test_predictions.filter('song_id = 1 and sampled_by_song_id = 496').count()

1

In [217]:
cd /Users/brettashley/galvanize/dsi/00-Capstone/mix-maker/src

/Users/brettashley/galvanize/dsi/00-Capstone/mix-maker/src

In [219]:
import model

In [353]:
sr = model.SongRecommender()

In [295]:
new = _

In [296]:
new

[(9767, 2815), (14456, 10660), (14396, 2404), (94, 4005), (83, 9523)]

In [298]:
df.columns

Index(['song_id', 'sampled_by_song_id', 'is_connected', 'prediction'], dtype='object')

In [301]:
new_df = pd.DataFrame(new, columns=df.columns[:2])

In [302]:
new_df['is_connected'] = 0

In [303]:
new_df.head()

   song_id  sampled_by_song_id  is_connected
0     9767                2815             0
1    14456               10660             0
2    14396                2404             0
3       94                4005             0
4       83                9523             0

In [306]:
test_pd = test.toPandas()

In [307]:
test_pd.head()

   song_id  sampled_by_song_id  is_connected
0        1                 374           1.0
1        1                 376           1.0
2        1                 378           1.0
3        1                 382           1.0
4        1                 383           1.0

In [313]:
check = pd.concat([test_pd, new_df]).reset_index()

In [314]:
check

      index  song_id  sampled_by_song_id  is_connected
0         0        1                 374           1.0
1         1        1                 376           1.0
2         2        1                 378           1.0
3         3        1                 382           1.0
4         4        1                 383           1.0
5         5        1                 391           1.0
6         6        1                 397           1.0
7         7        1                 403           1.0
8         8        1                 410           1.0
9         9        1                 422           1.0
10       10        1                 424           1.0
11       11        1                 431           1.0
12       12        1                 432           1.0
13       13        1                 439           1.0
14       14        1                 455           1.0
15       15        1                 456           1.0
16       16        1                 468           1.0
17       17        1                 472           1.0
18       18        1                 474           1.0
19       19        1                 490           1.0
20       20        1                 494           1.0
21       21        1                 496           1.0
22       22        1                 503           1.0
23       23        1                 519           1.0
24       24        1                 521           1.0
25       25        1                 525           1.0
26       26        1                 528           1.0
27       27        1                 533           1.0
28       28        1                 539           1.0
29       29        1                 541           1.0
...     ...      ...                 ...           ...
3942   3942    14586                2970           1.0
3943   3943    14586                9921           1.0
3944   3944    14586               14834           1.0
3945   3945    14586               14869           1.0
3946   3946    14592               15730           1.0
3947   3947    14593               14813           1.0
3948   3948    14593               16035           1.0
3949   3949    14622               16027           1.0
3950   3950    14626               14823           1.0
3951   3951    14644               14818           1.0
3952   3952    14644               15981           1.0
3953   3953    14653               14831           1.0
3954   3954    14661               16043           1.0
3955   3955    14664                9968           1.0
3956   3956    14664               14814           1.0
3957   3957    14673               14834           1.0
3958   3958    14688               14814           1.0
3959   3959    14688               14816           1.0
3960   3960    14688               14869           1.0
3961   3961    14693               14821           1.0
3962   3962    14722               16008           1.0
3963   3963    14728               14815           1.0
3964   3964    14728               16049           1.0
3965   3965    14768               14823           1.0
3966   3966    14768               14827           1.0
3967      0     9767                2815           0.0
3968      1    14456               10660           0.0
3969      2    14396                2404           0.0
3970      3       94                4005           0.0
3971      4       83                9523           0.0

[3972 rows x 4 columns]

In [354]:
sr.generate_negative_targets(test,
                             'song_id',
                             'sampled_by_song_id',
                             'is_connected',
                             n_new_combos=100)

DataFrame[index: bigint, is_connected: double, sampled_by_song_id: bigint, song_id: bigint]

In [355]:
test_with_neg = _

In [356]:
test_with_neg.limit(10).show()

+-----+------------+------------------+-------+
|index|is_connected|sampled_by_song_id|song_id|
+-----+------------+------------------+-------+
|    0|         1.0|               374|      1|
|    1|         1.0|               376|      1|
|    2|         1.0|               378|      1|
|    3|         1.0|               382|      1|
|    4|         1.0|               383|      1|
|    5|         1.0|               391|      1|
|    6|         1.0|               397|      1|
|    7|         1.0|               403|      1|
|    8|         1.0|               410|      1|
|    9|         1.0|               422|      1|
+-----+------------+------------------+-------+

In [357]:
test_with_neg.count()

7042

In [358]:
preds = recommender.transform(test_with_neg)

In [327]:
preds.limit(20).show()

+-----+------------+------------------+-------+----------+
|index|is_connected|sampled_by_song_id|song_id|prediction|
+-----+------------+------------------+-------+----------+
| 2440|         1.0|              9170|    463|       NaN|
| 2443|         1.0|              9896|    471| 0.6090669|
| 2442|         1.0|              9170|    471|0.50599504|
| 3625|         1.0|             14299|  13285|       NaN|
|   13|         0.0|              7634|  14570|0.60288477|
| 3936|         1.0|             14987|  14570| 0.6105124|
| 2372|         1.0|              9170|    392| 0.2756293|
| 3029|         1.0|             11800|  11280|       NaN|
| 3008|         1.0|             11713|  11280|       NaN|
| 3040|         1.0|             11835|  11280|0.57141745|
| 3031|         1.0|             11808|  11280|       NaN|
| 3004|         1.0|             11694|  11280|       NaN|
| 3015|         1.0|             11736|  11280|       NaN|
| 3009|         1.0|             11717|  11280|       NaN|
| 2992|         1.0|              1125|  11280|       NaN|
| 3019|         1.0|             11764|  11280|       NaN|
| 3030|         1.0|             11805|  11280|       NaN|
| 3010|         1.0|             11718|  11280|       NaN|
| 2996|         1.0|             11659|  11280|0.39042524|
| 3020|         1.0|             11771|  11280|       NaN|
+-----+------------+------------------+-------+----------+

In [359]:
sr.RMSE(preds, has_nan_values=True)

0.23351478827422506